/Obsidian Vault/Excalidraw
/Code/.history
/Code/node_modules

# pnpm
/Code/node_modules/.pnpm-lock.yaml
/Code/node_modules/.pnpm-workspace-state-v1.json
/Code/node_modules/.modules.yaml
/Code/node_modules/.pnpm/lock.yaml
